.driversGrid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px; 
    width: 100%; 
    padding: 16px;
}

.driverCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(240, 240, 240, 0.5);
}

.driverCard div{
    color: white;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.driverCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--shadow-color);
}


.driverCard:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translate(100%);
}


