.loaderContainer {
    display: flex;
    /* Centers the ball within its container */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Takes full height of the viewport for demonstration */
}

.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    /* Blue color */
    border-radius: 50%;
    /* Makes it a perfect circle */
    animation: bounce 0.6s cubic-bezier(0.4, 0.01, 0.4, 1) infinite alternate;
    /* Uses a cubic bezier function to simulate gravity */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
        /* Bounces up 50px */
    }
}

.meetingsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 16px;
}

.meetingCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meetingCard div{
    color: white;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}



.meetingCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(240, 240, 240, 0.5);
}

.meetingCard:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translate(100%);
}



.countryFlag {
    width: 32px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

.circuitImage {
    width: 120px;
    height: 100px;
    vertical-align: middle;
    padding: 10px;

}